@import "tailwindcss";

.font-helvetica {
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", sans-serif;
}

.header-lists .active {
    box-shadow: rgb(0, 117, 74) 0px -6px inset;
    padding-bottom: 35px;
}

.swiper-button-next,
.swiper-button-prev {
    background-color: white;
    color: black;
    border-radius: 50%;
    width: 50px !important;
    height: 50px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.7) !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 15px !important;
    color: black;
}

.swiper-container-wrapper {
    position: relative;
}

.swiper-overlay-left,
.swiper-overlay-right {
    position: absolute;
    top: 0;
    width: 200px;
    height: 100%;
    z-index: 10;
    pointer-events: none;
    /* Altındakı swiper kliklərinə mane olmasın */
    background-color: rgba(255, 255, 255, 0.9);
}



.swiper-overlay-left,
.swiper-overlay-right {
    position: absolute;
    top: 0;
    width: 160px;
    height: 100%;
    z-index: 10;
    pointer-events: none;
}

.swiper-overlay-left {
    left: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.9), transparent) !important;
}

.swiper-overlay-right {
    right: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0.9), transparent);
}

.swiper-button-next,
.swiper-button-prev {
    z-index: 40 !important;
}

/* Swiper default oxları üçün */
.swiper-button-next,
.swiper-button-prev {
    width: 30px;
    height: 30px;
    color: black;
    background-color: white;
    border-radius: 9999px;
    /* tam dairə */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    top: 66% !important;
    /* orta nöqtədən bir az yuxarı */
    transform: translateY(-50%);
    right: 100px !important;

}

/* Iconu kiçilt */
.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 16px !important;
}

.swiper-button-next {
    right: 100px !important;
}

.swiper-button-prev {
    left: 100px !important;
}


/* Responsive olaraq mobil üçün daha kiçik */
@media (max-width: 640px) {

    .swiper-button-next,
    .swiper-button-prev {
        width: 30px !important;
        height: 30px !important;
        top: 82% !important;
    }

    .swiper-button-next::after,
    .swiper-button-prev::after {
        font-size: 13px !important;
    }

    .swiper-button-next {
        right: 10px !important;
    }

    .swiper-button-prev {
        left: 10px !important;
    }
}